.color_names_16_basic {
  color: black;    color: #000000;
  color: silver;   color: #c0c0c0;
  color: gray;     color: #808080;
  color: white;    color: #ffffff;
  color: maroon;   color: #800000;
  color: red;      color: #ff0000;
  color: purple;   color: #800080;
  color: fuchsia;  color: #ff00ff;
  color: green;    color: #008000;
  color: lime;     color: #00ff00;
  color: olive;    color: #808000;
  color: yellow;   color: #ffff00;
  color: navy;     color: #000080;
  color: blue;     color: #0000ff;
  color: teal;     color: #008080;
  color: aqua;     color: #00ffff;
}

.color_names_150_extra {
  color: transparent;
  color: aliceblue;             color: #f0f8ff;
  color: antiquewhite;          color: #faebd7;
  color: aqua;                  color: #00ffff;
  color: aquamarine;            color: #7fffd4;
  color: azure;                 color: #f0ffff;
  color: beige;                 color: #f5f5dc;
  color: bisque;                color: #ffe4c4;
  color: black;                 color: #000000;
  color: blanchedalmond;        color: #ffebcd;
  color: blue;                  color: #0000ff;
  color: blueviolet;            color: #8a2be2;
  color: brown;                 color: #a52a2a;
  color: burlywood;             color: #deb887;
  color: cadetblue;             color: #5f9ea0;
  color: chartreuse;            color: #7fff00;
  color: chocolate;             color: #d2691e;
  color: coral;                 color: #ff7f50;
  color: cornflowerblue;        color: #6495ed;
  color: cornsilk;              color: #fff8dc;
  color: crimson;               color: #dc143c;
  color: cyan;                  color: #00ffff; /* synonym of aqua */
  color: darkblue;              color: #00008b;
  color: darkcyan;              color: #008b8b;
  color: darkgoldenrod;         color: #b8860b;
  color: darkgray;              color: #a9a9a9;
  color: darkgreen;             color: #006400;
  color: darkgrey;              color: #a9a9a9;
  color: darkkhaki;             color: #bdb76b;
  color: darkmagenta;           color: #8b008b;
  color: darkolivegreen;        color: #556b2f;
  color: darkorange;            color: #ff8c00;
  color: darkorchid;            color: #9932cc;
  color: darkred;               color: #8b0000;
  color: darksalmon;            color: #e9967a;
  color: darkseagreen;          color: #8fbc8f;
  color: darkslateblue;         color: #483d8b;
  color: darkslategray;         color: #2f4f4f;
  color: darkslategrey;         color: #2f4f4f;
  color: darkturquoise;         color: #00ced1;
  color: darkviolet;            color: #9400d3;
  color: deeppink;              color: #ff1493;
  color: deepskyblue;           color: #00bfff;
  color: dimgray;               color: #696969;
  color: dimgrey;               color: #696969;
  color: dodgerblue;            color: #1e90ff;
  color: firebrick;             color: #b22222;
  color: floralwhite;           color: #fffaf0;
  color: forestgreen;           color: #228b22;
  color: fuchsia;               color: #ff00ff;
  color: gainsboro;             color: #dcdcdc;
  color: ghostwhite;            color: #f8f8ff;
  color: gold;                  color: #ffd700;
  color: goldenrod;             color: #daa520;
  color: gray;                  color: #808080;
  color: green;                 color: #008000;
  color: greenyellow;           color: #adff2f;
  color: grey;                  color: #808080; /* synonym of gray */
  color: honeydew;              color: #f0fff0;
  color: hotpink;               color: #ff69b4;
  color: indianred;             color: #cd5c5c;
  color: indigo;                color: #4b0082;
  color: ivory;                 color: #fffff0;
  color: khaki;                 color: #f0e68c;
  color: lavender;              color: #e6e6fa;
  color: lavenderblush;         color: #fff0f5;
  color: lawngreen;             color: #7cfc00;
  color: lemonchiffon;          color: #fffacd;
  color: lightblue;             color: #add8e6;
  color: lightcoral;            color: #f08080;
  color: lightcyan;             color: #e0ffff;
  color: lightgoldenrodyellow;  color: #fafad2;
  color: lightgray;             color: #d3d3d3;
  color: lightgreen;            color: #90ee90;
  color: lightgrey;             color: #d3d3d3;
  color: lightpink;             color: #ffb6c1;
  color: lightsalmon;           color: #ffa07a;
  color: lightseagreen;         color: #20b2aa;
  color: lightskyblue;          color: #87cefa;
  color: lightslategray;        color: #778899;
  color: lightslategrey;        color: #778899;
  color: lightsteelblue;        color: #b0c4de;
  color: lightyellow;           color: #ffffe0;
  color: lime;                  color: #00ff00;
  color: limegreen;             color: #32cd32;
  color: linen;                 color: #faf0e6;
  color: magenta;               color: #ff00ff; /* synonym of fuchsia */
  color: maroon;                color: #800000;
  color: mediumaquamarine;      color: #66cdaa;
  color: mediumblue;            color: #0000cd;
  color: mediumorchid;          color: #ba55d3;
  color: mediumpurple;          color: #9370db;
  color: mediumseagreen;        color: #3cb371;
  color: mediumslateblue;       color: #7b68ee;
  color: mediumspringgreen;     color: #00fa9a;
  color: mediumturquoise;       color: #48d1cc;
  color: mediumvioletred;       color: #c71585;
  color: midnightblue;          color: #191970;
  color: mintcream;             color: #f5fffa;
  color: mistyrose;             color: #ffe4e1;
  color: moccasin;              color: #ffe4b5;
  color: navajowhite;           color: #ffdead;
  color: navy;                  color: #000080;
  color: oldlace;               color: #fdf5e6;
  color: olive;                 color: #808000;
  color: olivedrab;             color: #6b8e23;
  color: orange;                color: #ffa500;
  color: orangered;             color: #ff4500;
  color: orchid;                color: #da70d6;
  color: palegoldenrod;         color: #eee8aa;
  color: palegreen;             color: #98fb98;
  color: paleturquoise;         color: #afeeee;
  color: palevioletred;         color: #db7093;
  color: papayawhip;            color: #ffefd5;
  color: peachpuff;             color: #ffdab9;
  color: peru;                  color: #cd853f;
  color: pink;                  color: #ffc0cb;
  color: plum;                  color: #dda0dd;
  color: powderblue;            color: #b0e0e6;
  color: purple;                color: #800080;
  color: rebeccapurple;         color: #663399;
  color: red;                   color: #ff0000;
  color: rosybrown;             color: #bc8f8f;
  color: royalblue;             color: #4169e1;
  color: saddlebrown;           color: #8b4513;
  color: salmon;                color: #fa8072;
  color: sandybrown;            color: #f4a460;
  color: seagreen;              color: #2e8b57;
  color: seashell;              color: #fff5ee;
  color: sienna;                color: #a0522d;
  color: silver;                color: #c0c0c0;
  color: skyblue;               color: #87ceeb;
  color: slateblue;             color: #6a5acd;
  color: slategray;             color: #708090;
  color: slategrey;             color: #708090;
  color: snow;                  color: #fffafa;
  color: springgreen;           color: #00ff7f;
  color: steelblue;             color: #4682b4;
  color: tan;                   color: #d2b48c;
  color: teal;                  color: #008080;
  color: thistle;               color: #d8bfd8;
  color: tomato;                color: #ff6347;
  color: turquoise;             color: #40e0d0;
  color: violet;                color: #ee82ee;
  color: wheat;                 color: #f5deb3;
  color: white;                 color: #ffffff;
  color: whitesmoke;            color: #f5f5f5;
  color: yellow;                color: #ffff00;
  color: yellowgreen;           color: #9acd32;
}
